section {
    scroll-margin-top: 5em;
    margin-bottom: 6em;
}
.sectionTitle {
    position: relative;
    overflow: hidden;
    height: 9em;
    margin-bottom: 1.5em;
    border-bottom: .125em solid var(--myGrey);
    .sectionTitleTextLarge {
        position: absolute;
        bottom: .1em;
        left: -.2em;
        font-size: 5em;
        font-weight: 900;
        line-height: 80%;
        z-index: 10;
    }
    .sectionTitleTextSmall {
        position: absolute;
        bottom: .05em;
        left: -1.5em;
        font-size: 1.5em;
        font-weight: 400;
        z-index: 12;
    }
}
.articleRow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    @media only screen and (min-width: 31.25em) {
        flex-direction: row;
    }
}
.articleColumn50 {
    display: flex;
    flex-direction: column;
    flex: 100%;
    max-width: 100%;
    @media only screen and (min-width: 31.25em) {
        flex: 50%;
        max-width: 50%;
        align-self: flex-start;
    }
}
.articleColumn33 {
    display: flex;
    flex-direction: column;
    flex: 100%;
    max-width: 100%;
    @media only screen and (min-width: 31.25em) {
        flex: 50%;
        max-width: 50%;
    }
    @media only screen and (min-width: 48em) {
        flex: 33.33%;
        max-width: 33.33%;
    }
}
@media only screen and (min-width: 31.25em) and (max-width: 48em) { 
    #contact .articleColumn33:nth-of-type(3) {
        flex: 100%;
        max-width: 100%;
    }
}
.parallaxOne {
    margin-top: 5em;
    background-image: url(../mIMG/naaimachine-huis-large.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: var(--myBlackTrans);
    height: 100%;
    padding: 2em 0;
    @media only screen and (orientation: landscape) {
        background-size: cover;
    }
    @media only screen and (min-width: 37.5em) {
        background-size: cover;
    }
}
.parallaxArticle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 1.1em;
    color: var(--myWhite);
}
.contactLink {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 1.3em;
    transition: .3s;
    &:hover {
        transform: scale(1.2);
    }
}
#contact .articleColumn33 {
    align-self: center;
}
#profileIMG {
    @media only screen and (min-width: 31.25em) {
        max-width: 80%;
        margin: auto;
    }
}
.gallery {
    max-width: 100%;
    margin-top: 2em;
    flex-grow: 1;
    overflow: hidden;
}
.figCaptionText {
    position: relative;
    padding: .3em 0;
    text-align: center;
    z-index: 200;
}
.frameLink {
    display: block;
    height: fit-content;
    img {
        display: block;
        height: auto;
        width: 100%;
    }
}