* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    width: 100%;
    background-color: var(--myBlack);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: var(--myWhite);
}
::-webkit-scrollbar {
    width: 1em;
    background-color: var(--myWhite);
    border-left: .125em solid var(--myBlack);
}
::-webkit-scrollbar-thumb {
    background-color: var(--myBlack);
}
img {
    height: auto;
    max-width: 100%;
}
h1 {
    font-size: 6em;
    font-weight: 900;
    line-height: 65%;
    color: var(--myRed);
}
h2 {
    font-size: 1.6em;
    font-weight: 700;
    line-height: 60%;
}
h3 {
    font-size: 1.2em;
}
p {
    padding: 1em;
    font-size: 1.1em;
}
a {
    text-decoration: none;
    color: var(--myWhite);
    transition: .3s;
    &:hover {
        color: var(--myOrange);
        transform: scale(1.1);
    }
}
li {
    margin-left: 2em;
    list-style-type: none;
    padding-right: 2em;
}
@media only screen and (min-width: 59.375em) {
    p {
        padding-left: 3em;
    }
    li {
        margin-left: 4em;
    }
}