.mainTitle {
    position: fixed;
    top: 0;
    height: 6.1em;
    width: 100%;
    padding: .8em .4em;
    background-color: var(--myBlack);
    font-weight: 900;
    text-align: right;
    border-bottom: .125em solid var(--myGrey);
    z-index: 1900;
    img {
        display: block;
        position: absolute;
        top: 1em;
        right: .8em;
        height: 4.6em;
        width: auto;
    }
}