/* NAVBAR */
#navBar {
    position: fixed;
    top: 0;
    height: 4.5rem;
    width: 100%;
    box-shadow: $Shdw;
    z-index: 1800;
    img {
        position: fixed;
        top: .5rem;
        right: .5rem;
        height: 3.5rem;
        width: auto;
        box-shadow: $Shdw;
        border-radius: 50%;
        z-index: 2000;
    }
}
/* NAV MOBILE */ 
#navMobile {
    position: fixed;
    top: 0;
    height: 4.5rem;
    width: 100%;
    background-color: $backClrTrans;
    z-index: 1900;
    @media only screen and (min-width: 30.6rem) {
        display: none;
    }
}
/* MENUBUTTON */
#menuButton {
    position: fixed;
    top: .8rem;
    left: .8rem;
    height: 3.125rem;
    width: 3.125rem;
    background-color: transparent;
    cursor: pointer;
    z-index: 2000;
}
.beam {
    background-color: $beamClr;
    height: .25em;
    width: 3.125em;
    box-shadow: $Shdw;
    transition: .8s;
}
.topBeam {
    position: absolute;
    top: 0;
    left: 0;
}
.middleBeam {
    position: absolute;
    top: 1.25em;
    left: 0;
}
.bottomBeam {
    position: absolute;
    top: 2.5em;
    left: 0;
}
.topBeamClose {
    position: absolute;
    top:43%;
    left: 5%;
    transform: rotate(-45deg);
    height: .25em;
    width: 3.125em;
    background-color: $beamClose;
    transition: .8s;
}
.middleBeamClose {
    position: absolute;
    top: 1.25em;
    left: 0;
    height: 0;
    width: 0;
    background-color: transparent;
    transition: .8s;
}
.bottomBeamClose {
    position: absolute;
    top:43%;
    left: 5%;
    transform: rotate(45deg);
    height: .25em;
    width: 3.125em;
    background-color: $beamClose;
    transition: .8s;
}
/* MENU OVERLAY */
#menuOverlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    a {
        width: 80%;
        background-color: $backClrTrans;
        font-family: $headerFont;
        font-size: 10vw;
        font-weight: bold;
        color: $backClrLight;
        padding: 2%;
        box-shadow: $ShdwWide;
    }
}
.menuOverlayClose {
    position: fixed;
    top: 0;
    height: 0%;
    width: 100%;
    overflow: hidden;
    transition: .8s;
    z-index: 1600;
}
.menuOverlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    overflow: hidden;
    transition: .8s;
    z-index: 1600;
}
/* NAV TABLET PC */ 
#navTabletPC {
    position: fixed;
    top: 0;
    display: none;
    height: 4.5rem;
    width: 100%;
    padding: 1rem;
    background-color: $backClrTrans;
    z-index: 1010;
    @media only screen and (min-width: 30.6rem) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}
#navTabletPC a {
    display: inline-block;
    font-size: 1.05rem;
    margin: auto .3rem;
    padding: .3rem;
    box-shadow: $Shdw;
    @media only screen and (min-width: 33rem) {
        font-size: 1.2rem;
    }
}
#mainHeader,
article,
#profilePic {
    scroll-margin-top: 4.5rem;
}
/* SCROLLBAR */ 
::-webkit-scrollbar {
    width: 15px;
    background-color: $backClrTrans;
}
::-webkit-scrollbar-thumb {
    background-color: $backClrLight;
    box-shadow: $ShdwIn;
}
::-webkit-scrollbar-button {
    background-color: $backClr;
}