/* COLORS */
$backclr: rgb(19, 8, 0);
$mainFontClr: white;
$borderOne: white;
$beamClr: white;
$beamClose: pink;
$overlayClr: grey;

/* FONTS */
$mainFont: Arial, Helvetica, sans-serif;
$headerFont: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;