#mainHeader {
    height: auto;
    width: 100%;
    padding: 2rem;
    background-color: $backClrLight;
    font-family: $headerFont;
    font-size: 4.5vw;
    color: $mainFontClr;
    text-align: center;
    letter-spacing: .1rem;
    text-shadow: $Shdw;
    box-shadow: $ShdwIn;
    @media only screen and (min-width: 40rem) {
        font-size: 3.5vw;
    }
    @media only screen and (min-width: 48rem) {
        font-size: 3vw;
    }
}