/* COLORS */
$backClr: rgb(19, 8, 0);
$backClrLight: rgb(255,255,255);
$backClrTrans: rgba(19, 8, 0, 0.7);
$mainFontClr: rgb(255,255,255);
$darkFontClr: rgb(19, 8, 0);
$borderOne: rgb(255,255,255);
$beamClr: rgb(255,255,255);
$beamClose: rgb(245, 188, 197);
$overlayClr: grey;

/* FONTS */
$mainFont: Arial, Helvetica, sans-serif;
$headerFont: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;