#mainHeader {
    height: auto;
    width: 100%;
    padding: 5%;
    font-family: $headerFont;
    font-size: 5vw;
    text-align: center;
    letter-spacing: .1rem;
    text-shadow: 15px 15px 20px black;
}