#mainFooter {
    width: 100%;
    margin-top: 3rem;
    background-color: $backClrTrans;
    color: $mainFontClr;
    padding: 3rem 0;
    font-size: .9rem;
}
.footerSection {
    text-align: center;
}