#mainFooter {
    width: 100%;
    margin-top: 3rem;
    background-color: $backClrTrans;
    color: $mainFontClr;
    padding: 3rem 0;
    font-size: .9rem;
}
.footerSection {
    text-align: center;
    .icon {
        transform: scale(0.8);
        a {
            font-weight: normal;
            font-size:xx-small;
        }
    }
}
.footerBottom img {
    height: auto;
    width: 30%;
    border-radius: 50%;
    box-shadow: $ShdwWide;
}