/* COLORS */
/* FONTS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  max-width: 62,5rem;
  scroll-behavior: smooth;
}

body {
  background-color: #130800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
}

main {
  margin-top: 4rem;
  padding: 1rem;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

@media only screen and (min-width: 30.06rem) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  border: 1px solid white;
}

.sectionText {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.sectionIMG {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.sectionList {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* NAV MOBILE */
#navMobile {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
}

@media only screen and (min-width: 30.6rem) {
  #navMobile {
    display: none;
  }
}

/* MENUBUTTON */
#menuButton {
  position: fixed;
  top: .5rem;
  right: .5rem;
  height: 3.125rem;
  width: 3.125rem;
  background-color: transparent;
  cursor: pointer;
  z-index: 2000;
}

.beam {
  background-color: white;
  height: .25em;
  width: 3.125em;
  -webkit-transition: .8s;
  transition: .8s;
}

.topBeam {
  position: absolute;
  top: 0;
  left: 0;
}

.middleBeam {
  position: absolute;
  top: 1.25em;
  left: 0;
}

.bottomBeam {
  position: absolute;
  top: 2.5em;
  left: 0;
}

.topBeamClose {
  position: absolute;
  top: 43%;
  left: 5%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: .25em;
  width: 3.125em;
  background-color: pink;
  -webkit-transition: .8s;
  transition: .8s;
}

.middleBeamClose {
  position: absolute;
  top: 1.25em;
  left: 0;
  height: 0;
  width: 3.125em;
  background-color: transparent;
  -webkit-transition: .8s;
  transition: .8s;
}

.bottomBeamClose {
  position: absolute;
  top: 43%;
  left: 5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: .25em;
  width: 3.125em;
  background-color: pink;
  -webkit-transition: .8s;
  transition: .8s;
}

/* MENU OVERLAY */
.menuOverlayClose {
  position: fixed;
  top: 0;
  height: 0%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: .8s;
  transition: .8s;
  z-index: 1999;
}

.menuOverlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: grey;
  overflow: hidden;
  -webkit-transition: .8s;
  transition: .8s;
  z-index: 1999;
}

#menuOverlayContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* NAV TABLET PC */
#navTabletPC {
  position: fixed;
  top: 0;
  display: none;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  background-color: #130800;
}

@media only screen and (min-width: 30.6rem) {
  #navTabletPC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#navTabletPC a {
  display: inline-block;
  font-size: 1.2rem;
}

#mainHeader {
  height: auto;
  width: 100%;
  padding: 5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4vw;
  letter-spacing: .1rem;
}
/*# sourceMappingURL=101.css.map */